body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
    color:rgb(81, 6, 116);
    font-size:30px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

#buscador{
display: flex;
justify-content: center;
align-items: center;
border:none;
margin-left: 40%;
width: 20%;

}

#boton{
    color:midnightblue;
    display: flex;
justify-content: center;
align-items: center;
margin-left: 45%;
margin-top: 2%;
}

#mostrarPokemon{
    display:grid;
justify-content: center;
align-items: center;
}